<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Español with Lang</title>
    <link href="/static/index.css" rel="stylesheet">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/lucide@0.263.1/dist/umd/lucide.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel" src="/static/App.js"></script>
</body>
</html>